<div>
  <div *ngIf="isLoading; else notLoading">
    <app-spinner></app-spinner>
    <span>
      Loading... (Please sign messages using your connected wallet)
    </span>
  </div>
  <ng-template #notLoading>
    <div *ngIf="did; else noDID">
      <p>Hello user!</p>
      <p>
        Your decentralised identifier: <strong>{{ did }}</strong>
      </p>
      <div *ngIf="roles.length > 0; else noRoles" class="rolesContainer">
        <p>These are your validated roles:</p>
        <p *ngFor="let role of roles">
          <strong>{{ role.name }}</strong> at {{ role.namespace }}
        </p>
      </div>
      <ng-template #noRoles>
        <div>
          You do not have any issued role at the moment, please login into switchboard and search for
          apps, orgs to enrol.
        </div>
      </ng-template>
      <div class="logoutContainer">
        <button (click)="logout()" class="button">
          <span>Logout</span>
        </button>
      </div>
    </div>
    <ng-template #noDID>
      <div *ngIf="errored">
        <p>
          Error occured with login.<br />
          If you rejected the signing requests, please try again and accept.<br />
          If this is your first time logging in, your account needs a small amount of Volta token to
          create a DID Document.<br />
          A Volta token can be obtained from the
          <a href="https://voltafaucet.energyweb.org/">Volta Faucet</a>.
        </p>
      </div>
      <div class="container">
        <button (click)="login({ useMetamaskExtension: false })" class="button">
          <img class="walletconnect"
            src="./assets/wallet-connect-icon.svg" />
          <span>Login with Wallet Connect</span>
        </button>
        <button (click)="login({ useMetamaskExtension: true })" class="button">
          <img class="metamask" src="./assets/metamask-logo.svg" />
          <span>Login with Metamask</span>
        </button>
      </div>
    </ng-template>
  </ng-template>
</div>