.App {
  text-align: center;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.container {
  display: flex;
  justify-content: space-evenly;
}
.rolesContainer {
  margin-top: 24px;
}
.logoutContainer {
  display: flex;
  justify-content: center;
}

a {
  color: #61dafb;
}
