name: Deploy

on:
  push:
    branches: ["develop", "master"]
  pull_request:
    branches: ["develop", "master"]

jobs:
  cancel-previous:
    name: "Cancel Previous Runs"
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}

  deploy:
    runs-on: ubuntu-latest
    needs: cancel-previous
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: ${{ secrets.SECRET_NAME }}
      - uses: actions/setup-node@v2-beta
        with:
          node-version: "10.22.0"
          registry-url: https://registry.npmjs.org/

      - name: Configure Git
        run: |
          git config --global user.email ${{ secrets.GH_EMAIL }}
          git config --global user.name ${{ secrets.GH_USER }}
          git remote set-url origin "https://${{ github.token }}@github.com/energywebfoundation/iam-client-lib.git" > /dev/null 2>&1
          git reset --hard
          git fetch -u origin master:master

      - name: Set npm credentials
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> $HOME/.npmrc

      - name: Install package
        run: npm ci

      - name: Build package
        run: npm run build

      - name: Npm Run Test
        run: npm run test:prod

      - name: Deploy on develop branch
        if: github.ref == 'refs/heads/develop'
        uses: codfish/semantic-release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.SECRET_NAME }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Deploy on master branch
        if: github.ref == 'refs/heads/master'
        uses: codfish/semantic-release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.SECRET_NAME }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Commit to develop branch and merge to master branch
        run: |
          git checkout develop
          git merge origin/master
          git push origin develop
